h1 background-image: url('../img/VW.jpg');
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        <figure align="center"
            <img src="img/VW.jpg" ></img> 
       </figure>